stages:
  - build
  - deploy

variables:
  IMAGE_NAME: $REGISTRY_URL/$CI_COMMIT_BRANCH/$CI_PROJECT_NAME # Replace with your desired image name

build_job:
  image: quay.io/podman/stable
  stage: build
  tags:
    - oran-runner # Use your specific tag
  before_script:
    - podman info
    - id
  script:
    - sleep 5
    - mkdir -p /etc/containers/certs.d/$REGISTRY_URL
    - echo "$REGISTRY_CERTIFICATE" > /etc/containers/certs.d/$REGISTRY_URL/ca.crt
    - update-ca-trust
    - podman build . -t $IMAGE_NAME:$CI_COMMIT_SHA -t $IMAGE_NAME:latest
    - podman push $IMAGE_NAME:$CI_COMMIT_SHA
    - podman push $IMAGE_NAME:latest
  only:
    - test-ci
    - /^oran-student-.*/


deploy_job:
  stage: deploy
  when: manual
  image: bitnami/kubectl:1.32.2
  tags:
    - oran-runner # Use your specific tag
  script:
    - export IMAGE_NAME=$IMAGE_NAME
    - export IMAGE_TAG=$CI_COMMIT_SHA
    - export NAMESPACE=${CI_COMMIT_BRANCH#oran-student-}
    - echo $NAMESPACE]
    - envsubst < helm/manifest.template.yaml > helm/manifest.yml
    - cat helm/manifest.yml
    - kubectl apply -f helm/manifest.yml -n $NAMESPACE
  only:
    - test-ci
    - /^oran-student-.*/
  dependencies:
    - build_job
